# kustomization.yaml
# kubectl apply -k .
resources:
- https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.8.0/components.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --kubelet-insecure-tls
  target:
    group: apps
    kind: Deployment
    name: metrics-server
    namespace: kube-system
    version: v1