# Kubernetes 清单文件（Manifest）
# 定义了要部署到 Kubernetes 集群中的资源配置情况
apiVersion: v1
# 资源名称：service/web | Service 是负载均衡器，可以自动转发请求到后面的所有 Pod；配置为 Service 才能被外界访问
kind: Service  
metadata:
  name: web
spec:
  ports:
  - port: 3000
    name: http
  type: LoadBalancer
  selector:
    app: web
---
apiVersion: apps/v1
kind: Deployment # Deployment 是 Pod 的管理器，负责创建和管理 Pod 的生命周期，比如在容器终止时立即重启
metadata:
  name: web
spec:
  replicas: 2 # number of pod replicas，保持2个pod实例运行
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: skaffold-buildpacks-node
        ports:
          - containerPort: 3000